body{
     margin:0 auto;
     padding:0;
     border:0;
     outline:none;
     width:100%;
     min-width:1024px;
     font-family:"Lato", Helvetica, sans-serif;
     font-weight:400;
     font-size:100%;
     color:rgba(0,0,0,.9);
     background-color:rgba(117,193,227,1);
     background:repeat url('../image/Untitled-3-tile.png');
     /*background-position:center top;
     background-repeat:no-repeat;
     background-attachment:fixed;
     background-image:url('../image/1600x900.jpg');*/
}

#bodycontainer{
     margin:0 auto;
     padding-bottom:25px;
     /*padding:0px 50px 0px 50px;*/
     /*position:relative;*/
     /*width:95%;*/
     min-width:1024px;
     /*background-color:rgba(254,254,254,1);*/
     background-position:center top;
     /*background-size:100%;*/
     
     /*background-repeat:no-repeat;
     background-attachment:fixed;
     background-image:url('../image/1440x810.jpg');*/
}

/*Links*/
     a:link{
          text-decoration:underline;
          color:rgba(0,0,150,.9);
     }

     a:visited{
          text-decoration:none;
          color:rgba(0,0,150,.9);
     }

     a:hover{
          transition:all .5s ease;
          -webkit-transition:all 0.5s ease;
          -mox-transition:all 0.5s ease;
          -o-transition:all 0.5s ease;
          text-decoration:none;
          color:rgba(0,0,150,.9);
          opacity:.5;
     }

     a:active{
          text-decoration:none;
          color:rgba(0,0,150,.9);
     }

/*Header Section*/
     header{
          margin:0 auto;
          padding:0;
          /*width:1024px;*/
          height:260px;
          overflow:hidden;
          /*background-size:1024px 225px;*/
          /*background-color:rgba(106,158,169,1);*/
          background-repeat:no-repeat;
          background-image:url('../image/Untitled-3.png');
          background-position:center top;
     }

     /*Logo*/
          #headerimage{
               margin:0 auto;
               width:1024px;
          }

          header #headerimage a:hover{
               opacity:.9;
          }

          header #headerimage img{
               padding:60px 0px 0px 0px;
               float:left;
               opacity:.95;
          }

     /*Search Bar*/
          #tfheader{
               float:right;
               margin:100px auto auto auto;
               border-top-right-radius:2px;
               border-bottom-right-radius:2px;
               box-shadow:2px 2px 2px rgba(37,37,37,.2);
          }

          #tfnewsearch{
               float:right;
          }

          .tftextinput{
               margin:0;
               padding:4px;
               font-family:Helvetica, sans-serif;
               font-size:90%;
               color:rgba(0,0,0,.9);
               background-color:rgba(255,255,255,.85);
               border:none;
          }

          .tfbutton{
               margin:0;
               padding:4px;
               font-family:"Lato",Helvetica, sans-serif;
               font-weight:400;
               font-size:90%;
               color:rgba(255,255,255,.9);
               text-transform:uppercase;
               outline:none;
               cursor:pointer;
               text-align:center;
               text-decoration:none;
               background-color:rgba(198,192,190,.85);
               /*background-color:rgba(230,221,217,.9);*/
               border:none;
               /*border-top:none;*/
               /*border:1px solid rgba(198,192,190,.9);*/
          }

          .tfbutton:hover{
               transition:all .5s ease;
               -webkit-transition:all 0.5s ease;
               -mox-transition:all 0.5s ease;
               -o-transition:all 0.5s ease;
               text-decoration: none;
               opacity:.9;
          }

          /* Fixes submit button height problem in Firefox */
          .tfbutton::-moz-focus-inner{
            border: 0;
          }

          .tfclear{
               clear:both;
          }

/*Content*/
     #contentcontainer{
          margin:0 auto;
          width:1024px;
          /*padding:10px;*/
          text-align:left;
          background-color:rgba(254,254,254,.90);
          /*border:1px solid rgba(254,254,254,.1);*/
          border-radius:2px;
          box-shadow:2px 2px 2px rgba(37,37,37,.2);
     }

     /*Main Navigation*/
          #navigation{
              margin:0 auto;
              padding:0px 10px;
              width:1004px;
              text-align:left;
              vertical-align:middle;
              height:35px;
              /*background:rgba(59,128,120,.5);*/
              /*border-top:1px solid rgba(255,255,255,.9);*/
              /*background:rgba(159,128,120,.7);*/
              background:rgba(0,0,0,.9);
              border-radius:2px;
              /*box-shadow:2px 2px 2px rgba(37,37,37,.2);*/
          }

          #navigation ul{
               margin:0 auto;
          }

          #navigation ul, #navigation li{
              list-style:none;
              display:inline;
              vertical-align:middle;
              /*padding:10px 7px 5px 7px;*/
              position:absolute;
              font-size:95%;
              text-transform:uppercase;
              font-weight:400;
              width:auto;
          }

          /*#navigation a:link, #navigation a:visited, #navigation a:active{
               text-decoration:none;
               color:rgba(0,0,0,.9);
          }*/

          #current{ /*#current:link{*/
               /*border-left:5px solid rgba(255,255,255,.9);
               padding-left:5px;*/
               /*background:rgba(59,128,120,.5);*/
               font-style:italic;
               font-weight:700;
          }

          #nav{
               width:100%;
               min-width:1004px;
          }

          /*Dropdown*/
               #navigation ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
               }

               #navigation ul li {
                    display:block;
                    position:relative;
                    padding:10px 7px 5px 7px;
                    float: left;
               }

               #navigation li ul {
                    display: none;
                    background:rgba(255,255,255,.95);
               }

               #navigation ul li a {
                    display:block;
                    text-decoration:none;
                    margin-left:1px;
                    white-space:nowrap;
                    color:rgba(255,255,255,.9);
                    /*font-weight:bold;*/
               }

               #navigation ul li a:hover {
                    /*z-index:10;*/
               }

               #navigation ul li:hover {
                    background:rgba(0,0,0,.9);
                    z-index:10;
                    border-radius:2px;
                    padding-bottom:7px;
               }

               #navigation ul li ul li:hover {
                    background:rgba(0,0,0,.9);
                    border-radius:2px;
                    z-index:10;
               }

               #navigation li:hover ul {
                    z-index:10;
                    display: block;
                    position:absolute;
                    top:35px;
                    left:0px;
                    /*background:rgba(159,128,120,.7);*/
                    background:rgba(70,70,70,.9);
                    border-radius:2px;
               }

               #navigation li:hover li {
                    z-index:10;
                    float:none;
                    /*background:rgba(0,0,0,.9);*/
                    padding:10px 50px 10px 10px;
                    border-bottom:1px solid rgba(255,255,255,.9);
               }

               #navigation li:hover a {
                    z-index:10;
               }

               #navigation li:hover li a:hover {
                    z-index:10;
               }

     /*Content*/
          #content{
               /*margin:0 auto;*/
               /*padding:10px;*/
               margin:10px;
               padding-top:10px;
               width:1004px;
               text-align:left;
          }

          /*Row 1*/
               .row1{
                    width:1004px;
                    /*height:225px;*/
                    margin-bottom:10px;
                    /*border:1px solid rgba(0,0,0,.5);*/
                    overflow:hidden;
               }

               /*#row1column1*/
                   #row1column1{
                        background:rgba(70,70,70,.9);
                        width:250px;
                        /*border:1px solid rgba(0,0,0,.5);*/
                        float:left;
                        display:block;
                        overflow:hidden;
                   }


                   /*Secondary Navigation*/
                        .secondarynavigation{
                             line-height:175%;
                        }

                        .secondarynavigation a:link, .secondarynavigation a:visited, .secondarynavigation a:active{
                             /*color:rgba(0,0,80,.9);*/ color:rgba(255,255,255,.9);
                             /*text-transform:uppercase;*/
                             text-decoration:none;
                        }

               /*#row1column2*/
                     #row1column2{
                          width:750px;
                          /*border:1px solid rgba(0,0,0,.5);*/
                          float:right;
                          display:block;
                          overflow:hidden;
                          /*background:rgba(94,152,159,.9);*/
                          box-shadow:2px 2px 2px rgba(37,37,37,.2);
                     }

                     /*Carousel*/
                          #carouselbg{
                               width:750px;
                               float:right;
                               display:block;
                               overflow:hidden;
                               background-color:rgba(0,0,0,.9);
                          }

                          #carouselbg a:hover{
                               opacity:1;
                          }

                          /*Pure CSS Slider*/
                               #css3-slider {
                                 margin:0 auto;
                                 padding:0px 0px;
                                 width:750px;
                                 height:250px;
                                 position:relative;
                               }

                               #css3-slider li {
                                 list-style:none;
                                 margin:0px 0px;
                                 padding:0px 0px;
                               }

                               /* Navigation */
                               #css3-slider li input + label {
                                 position:absolute;
                                 bottom:5px;
                                 right:82px;
                                 z-index:999;
                                 font-size:75%;
                                 background:rgba(0,0,0,.9);
                                 color:rgba(255,255,255,.9);
                                 margin:5px 0px;
                                 padding:0px 0px;
                                 width:16px;
                                 text-align:center;
                                 cursor:pointer;
                               }

                               #css3-slider li:nth-child(2) label {right:64px;}
                               #css3-slider li:nth-child(3) label {right:46px;}
                               #css3-slider li:nth-child(4) label {right:28px;}
                               #css3-slider li:nth-child(5) label {right:10px;}

                               /* Images */
                               #css3-slider li img {
                                 border:none;
                                 outline:none;
                                 position:absolute;
                                 top:50%;
                                 left:50%;
                                 width:0px;
                                 height:0px;
                                 visibility:hidden;
                                 opacity:0;
                                 -webkit-transition: opacity 1s ease-in;
                                 -moz-transition: opacity 1s ease-in;
                                 -o-transition: opacity 1s ease-in;
                                 -ms-transition: opacity 1s ease-in;
                                 transition: opacity 1s ease-in;
                               }

                               /* Captions */
                               #css3-slider a {
                                 text-decoration:none !important;
                               }

                               #css3-slider li a span {
                                 cursor:default;
                                 display:block;
                                 position:absolute;
                                 right:0px;
                                 bottom:0px;
                                 left:0px;
                                 background:rgba(0,0,0,.7);
                                 font-size:110%;
                                 line-height:110%;
                                 color:rgba(255,255,255,.9);
                                 padding:10px 10px;
                                 text-align:left;
                                 opacity:0;
                                 -webkit-transition:all 1s ease-in-out;
                                 -moz-transition:all 1s ease-in-out;
                                 -ms-transition:all 1s ease-in-out;
                                 -o-transition:all 1s ease-in-out;
                                 transition:all 1s ease-in-out;
                               }

                               /* Active navigation */
                               #css3-slider li input:checked + label {
                                 background:rgba(255,255,255,.9);
                                 color:rgba(0,0,0,.9);
                               }

                               /* Show the image with transition */
                               #css3-slider li input:checked ~ img,
                               #css3-slider li input:checked ~ a img {
                                 top:0%;
                                 left:0%;
                                 width:750px;
                                 height:250px;
                                 visibility:visible;
                                 opacity:1;
                                 z-index:7;
                               }

                               /* Show the caption with fade effect */
                               #css3-slider li input:checked ~ a span {
                                 opacity:1;
                                 z-index:8;
                               }

                               /* Hide the radio */
                               #css3-slider input {
                                 display:none;
                               }
          /*Row 2*/
               .row2{
                    width:1004px;
                    /*height:900px;*/
                    margin-top:10px;
                    /*border:1px solid rgba(0,0,0,.5);*/
                    overflow:hidden;
               }

               .columnpadding{
                    padding:5px;
               }

               /*#row2column1*/
                   #row2column1{
                        /*background:rgba(230,230,230,.9);*/
                        width:250px;
                        /*border:1px solid rgba(0,0,0,.5);*/
                        float:left;
                        display:block;
                        overflow:hidden;
                   }

                   .row2 h1{
                        /*font-size:175%;*/
                        /*line-height:150%;*/
                        font-weight:400;
                        text-transform:uppercase;
                        /*background:rgba(120,30,20,.9);*/
                        margin:0;
                   }

                   .row2 h2{
                        /*font-size:125%;*/
                        /*line-height:150%;*/
                        font-weight:400;
                        text-transform:uppercase;
                        /*background:rgba(120,30,20,.9);*/
                        margin:0;
                   }

                   .row2 h3{
                        font-size:155%;
                        line-height:140%;
                        font-weight:400;
                        text-transform:uppercase;
                        /*background:rgba(120,30,20,.9);*/
                        margin:0;
                   }

                   #row2column1 section{
                        /*background:rgba(30,120,20,.9);*/
                   }

               /*#row2column2*/
                   #row2column2{
                        width:750px;
                        /*border:1px solid rgba(0,0,0,.5);*/
                        float:right;
                        display:block;
                        overflow:hidden;
                   }

     /*Footer*/
          #footercontainer{
               margin:10px;
               width:1004px;
               /*border:1px solid rgba(0,0,0,.5);*/
          }

          footer{
               margin:0 auto;
               overflow:hidden;
               text-align:left;
          }

          /*Sitemap*/
               #sitemap{
                    /*width:1004px;
                    margin:0 auto;*/
               }

               .group{
                    padding:15px;
                    float:left;
                    line-height:80%;
                    /*background:rgba(22,139,10,1);*/
               }

               .header:link, .header:visited, .header:active { /*.header a:link, .header a:visited, .header a:active{*/
                    font-size:75%;
                    text-transform:uppercase;
                    text-decoration:none;
                    font-weight:700;
                    color:rgba(0,0,80,.9);
               }

               .link:link, .link:visited, .link:active { /*.link a:link, .link a:visited, .link a:active{*/
                    font-size:70%;
                    text-decoration:none;
                    color:rgba(0,0,80,.9);
               }

     /*Site Information*/
          #siteinfor{
               /*width:1004px;*/
               margin:25px 0px 25px 0px;
               padding:0px 49px;
               display:block;
               position:relative;
               float:left;
               font-size:70%;
               color:rgba(255,255,255,.9);
               /*background:rgba(30,50,120,1);*/
          }

          #siteinfor a:link, #siteinfor a:visited, #siteinfor a:active{
               color:rgba(255,255,255,.9);
               text-decoration:none;

          }
          #siteinfor ul, #siteinfor li{
               list-style:none;
               display:inline;
               vertical-align:middle;
               padding:0px 20px;
               position:relative;
               text-transform:uppercase;
          }